.restSampleWp {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}

.column {
  margin: 0 auto;
  display: inline-block;
}

.title {
  font-size: 24px;
  color: #005a9e; // SharePoint blue
}

.subTitle {
  font-size: 18px;
  color: #333;
}

.description {
  font-size: 14px;
  color: #666;
}